version: '3.7'

services:
  mariadb:
    build: ./requirements/mariadb
    image: mariadb:youbrhic
    container_name: mariadb
    env_file:
      - .env
    volumes:
      - mariadb-data:/var/lib/mysql
    networks:
      - Inception
    restart: on-failure
    secrets:
      - db_user_pass
      - db_root_pass

  wordpress:
    build: ./requirements/wordpress
    image: wordpress:youbrhic
    container_name: wordpress
    volumes:
      - wordpress-data:/var/www/site
    depends_on:
      - mariadb
    env_file:
      - .env
    networks:
      - Inception
    restart: on-failure
    secrets:
      - db_user_pass
      - wp_admin_pass
      - wp_user_pass

  nginx:
    build: ./requirements/nginx
    image: nginx:youbrhic
    container_name: nginx
    ports:
      - "443:443"
    volumes:
      - wordpress-data:/var/www/site
      - ./requirements/bonus/static_website/tools/:/var/www/html
    depends_on:
      - wordpress
    env_file:
      - .env
    networks:
      - Inception
    restart: on-failure

  ftp:
    build: ./requirements/bonus/ftp
    image: ftp:youbrhic
    container_name: ftp
    ports:
      - "60000-60005:60000-60005"
      - "21:21"
      - "20:20"
    volumes:
      - wordpress-data:/home/$USERFTP/ftp
    depends_on:
      - wordpress
    env_file:
      - .env
    networks:
      - Inception
    restart: on-failure
    secrets:
      - ftp_user_pass

  static_website:
    build: ./requirements/bonus/static_website
    image: static_website:youbrhic
    container_name: static_website
    networks:
      - Inception
    restart: on-failure

  adminer:
    container_name: adminer
    image: adminer:youbrhic
    build: ./requirements/bonus/Adminer
    ports:
      - "7000:8080"
    depends_on:
      - mariadb
    networks:
      - Inception
    restart: on-failure

  redis:
      container_name: redis
      image: redis:youbrhic
      build:  ./requirements/bonus/redis
      ports:  
        - "6379:6379"
      depends_on:
        - nginx
      networks:
        - Inception
      restart: on-failure

  portainer:
    build: ./requirements/bonus/portainer
    image: portainer:youbrhic
    container_name: portainer
    ports:
      - "9001:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - Inception
    restart: on-failure

volumes:
  mariadb-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: $DB_VOLUME

  wordpress-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: $WP_VOLUME

networks:
  Inception:
    driver: bridge

secrets:
  db_root_pass:
    file: ../secrets/db_root_pass.txt
  db_user_pass:
    file: ../secrets/db_user_pass.txt
  wp_admin_pass:
    file: ../secrets/wp_admin_pass.txt
  wp_user_pass:
    file: ../secrets/wp_user_pass.txt
  ftp_user_pass:
    file: ../secrets/ftp_user_pass.txt